body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.header-background {
    background-color: #b22234; /* Красный */
    color: white;
    text-align: center;
    padding: 20px;
}

.header-title {
    font-size: 3em;
}

.navbar {
    background-color: #0033cc; /* Синий */
}

.nav-link {
    color: white;
    font-size: 1.2em;
}

.nav-link:hover {
    color: #ff4500; /* Оранжевый для наведения */
}

.container {
    padding: 20px;
}

.footer-bg {
    background-color: #b22234; /* Красный */
    color: white;
    text-align: center;
    padding: 20px;
}

.card {
    border: 2px solid #0033cc; /* Синий */
}

.card-title {
    color: #0033cc; /* Синий */
}

.btn-primary {
    background-color: #b22234; /* Красный */
    border: none;
}

.btn-primary:hover {
    background-color: #a51c2d; /* Темнее красный для наведения */
}

